/********************************************************************
*** GLOBALS
*********************************************************************/
html, body{

	

}

a{
	
}

h1, h2, h3, h4, h5, h6{
	
}

#site_wrap{
	
}

#mobile_menu{}

#mobile_header{}

.site_header{

	

	#header_overlay_color{
		
	}

	.wrap{
		
	}

	

	#logo_wrap{



		#logo{

			

			img{
				
			}

			&:hover img{
				
			}

		}

	}

	#header_nav{

		

		ul{

			

			li{

				

				a{

					

					&:hover{
						
					}

				}

			}

		}

	}	

	#page_title{

		padding: 100px 0 350px 0;
		
		h1{
			
			font-size: 3em;
		}

	}

}

body.home{

	.site_header{

		#logo_wrap{

			#logo{

				font-size: 6em;

				img{
					
				}

			}

		}

		#header_menu{

			ul{

				li{

					a{

					}

				}

			}

		}

	}

}

.page_section{

	

	.wrap{}

	.section_header{

		

		h2{
			
		}
		&, a{
			
		}
		a{

			

			&:after{
				
			}

		}

	}

}

/*************************************
MUSIC/ALBUMS
*************************************/
.music_section{

	.wrap{}

	header.section_header{}

	.album{

		

		&:last-child{
			
		}

		.soundcloud_embed{

			iframe{
				
			}

		}

		.album_info_wrapper{

			.album_info{

				.album_type{
					
				}
				.album_title{
					
				}
				.album_description{

					height: 187px;

					& > :first-child{  }
					& > :last-child{  }
					p{

					}

				}
				.album_button{
					
				}

			}

		}

	}

}

/*************************************
NEWS SECTION
*************************************/
.news_section{

	.wrap{}

	.section_header{}

	.news_article_wrap{

		

		&:before{
			
		}

		.news_article{

			

			header.article_header{

				

				h3{

					

					a{
						
					}

				}

				span.article_date{
					
				}

			}

			.article_excerpt{

				

				p{
					
				}

			}

		}

	}

}

/*************************************
SHOWS - BANDSINTOWN
*************************************/
.bit-widget-container{

	th, td{
		
	}
	th{
		
	}

}
td.bit-description-links{

}
td.bit-date{
	
}
td.bit-venue{
	
}
td.bit-location{

}
td.bit-tickets{

}
td.bit-rsvp{

}
#bit-events td .bit-uiButton{
	
}

/*************************************
VIDEOS
*************************************/
.videos_section{

	

	.wrap{}

	.section_header{
		
	}

	.video_embed{
		
	}

}

/*************************************
PHOTOS SECTION
*************************************/
.photos_section{

	.wrap{}

	.section_header{}

}
.photo_gallery{

	ul{

		

		li{

			width: 20%;

			a{

				

				&:hover{
					
				}

			}
			img{
				
			}

		}

	}

}

/*************************************
PHOTOS SECTION
*************************************/
.text_section{

	.wrap{}
	.section_header{

	}

	.text_content{

		& > :first-child{}
		& > :last-child{}

		p{

		}

	}

}


/*************************************
FOOTER
*************************************/
.site_footer{

	

	.wrap{}

	.credits{

	}

}
.mailing_list{

	

	.mailing_list_title, form{
		
	}

	.mailing_list_title{
		font-size: 2em;
	}

	form{

		font-size: 22px;

		input{
			
		}
		input[type="text"]{
			width: 340px;
		}
		input[type="submit"]{

			width: 182px;

			&:hover{
				
			}

		}

		::-webkit-input-placeholder {}
		:-moz-placeholder {}
		::-moz-placeholder {}
		:-ms-input-placeholder {}

	}
		
}
.social_links{

	ul{

		

		li{

			

			a{

				

				svg{

					

					path{

						

					}

				}

			}
			a:hover path{}

		}

	}

}


/*************************************
PAGE STYLES
*************************************/
#page_content{

	

	> .page_section > .wrap{
		
	}

}

/*************************************
MUSIC PAGE
*************************************/

/*************************************
NEWS PAGE
*************************************/

/*************************************
SHOWS PAGE
*************************************/

/*************************************
VIDEOS PAGE
*************************************/
#page_content > .videos_section > .wrap{
	
}
.video_list{

	.video_embed{
		
		&:last-child{
			
		}
	}

}

/*************************************
CONTACT STYLES
*************************************/
.contact_section{

	.wrap{}

}
form.contact_form{

	

	ul{

		

		li{

			

		}
		li:last-child{
			
		}

		li.half{  }
		li.full{  }
		li.last{  }

	}

	label{
		
	}
	input, textarea{
		
	}
	textarea{
		
	}
	input[type="text"]{

	}
	input[type="textarea"]{

	}
	input[type="submit"]{

		

		&:hover{
			
		}

	}

	::-webkit-input-placeholder {  }
	:-moz-placeholder {  }
	::-moz-placeholder {  }
	:-ms-input-placeholder {  }
	label.placeholder{ }

}