 /********************************************************************
*** GLOBALS
*********************************************************************/
html, body{

	

}

a{
	
}

h1, h2, h3, h4, h5, h6{
	
}

#site_wrap{
	
}

#mobile_menu{

	

	ul{

		

		li{

			

			a{
				
			}

			ul{
				
			}

		}

	}

}

#mobile_header{

	

	#mobile_menu_toggle{

		

		svg{
			
		}

	}

	#mobile_site_title{
		
	}

}

.site_header{

	

	#header_overlay_color{
		
	}

	.wrap{
		
	}

	
	#logo_wrap{

		#logo{

			

			img{
				
			}

		}

	}

	#header_nav{  }

	#page_title{

		h1{}

	}

	

}

body.home{

	.site_header{

		#logo_wrap{

			
			#logo{

				font-size: 3em;

				img{

				}

			}

		}

		#header_nav{

			ul{

				li{

					a{

					}

				}

			}

		}

	}

}

.page_section{

	

	.wrap{}

	.section_header{

		

		h2{
			
		}
		&, a{
			
		}
		a{

			

			&:after{
				
			}

		}

	}

}

/*************************************
MUSIC/ALBUMS
*************************************/
.music_section{

	.wrap{}

	header.section_header{}

	.album{

		margin-bottom: 40px;

		&:last-child{
			
		}

		.soundcloud_embed{

			iframe{
				
			}

		}

		.album_info_wrapper{

			.album_info{

				.album_type{
					
				}
				.album_title{
					
				}
				.album_description{

					& > :first-child{  }
					& > :last-child{  }
					p{

					}

				}
				.album_button{
					
				}

			}

		}

	}

}

/*************************************
NEWS SECTION
*************************************/
.news_section{

	.wrap{}

	.section_header{}

	.news_article_wrap{

		margin-bottom: 40px;

		&:last-child{
			
		}

		

		&:before{
			
		}

		.news_article{

			

			header.article_header{

				

				h3{

					

					a{
						
					}

				}

				span.article_date{
					
				}

			}

			.article_excerpt{

				

				p{
					
				}

			}

			a.read_more_link{

				

				&:hover{
					
				}

			}

			footer.article_footer{

				margin-top: 40px;

				ul.share_links{

					

					li{

						

						a{

							

							&:hover{
								
							}

							i{

							}

						}

					}
					li.share_label{
						
					}
					li.twitter:hover a{
						
					}
					li.facebook:hover a{
						
					}

				}

			}

		}

	}

	ul.post_meta{

		

		li{
			

			&:first-child{}
			&:last-child{}

		}

		a{
			

			&:hover{
				
			}

		}

		i{
			
		}

		li.author{

			

		}

	}

}

nav#pagination{

	

	.nav_previous,
	.nav_next{

		width: 45%;

		a{

			padding: 20px;
			@include rounded(4px);

			&:hover{
				
			}

		}

	}
	.nav_previous{

	}
	.nav_next{

	}

}


/*************************************
SHOWS - CUSTOM
*************************************/
.shows_section{

	

}
table.tour_dates{

	tr{

		td{
			
		}

		td.date{

			

			.month, .day{
				
			}
			.month{
				
			}
			.day{
				
			}

			/*&:after{
				content: "";
				border-right: solid 1px $textColor;
				width: 1px;
				position: absolute;
				right: 0;
				top: 10px;
				bottom: 10px;
			}*/

		}
		td.location{

			

			a{
				
			}

			.venue, .city{
				
			}
			.venue{

			}
			.city{

			}

		}
		td.tickets{

			

		}
		td.rsvp{
			display: table-cell;
			text-align: right;
		}

	}

}

/*************************************
SHOWS - BANDSINTOWN
*************************************/
.bit-widget-container{

	th, td{
		
	}
	th{
		
	}

}
td.bit-description-links{

}
td.bit-date{
	
}
td.bit-venue{
	
}
td.bit-location{

}
td.bit-tickets{

}
td.bit-rsvp{

}
#bit-events td .bit-uiButton{
	
}

/*************************************
VIDEOS
*************************************/
.videos_section{

	

	.wrap{}

	.section_header{
		
	}

	.video_embed{
		
	}

}

/*************************************
PHOTOS SECTION
*************************************/
.photos_section{

	.wrap{}

	.section_header{}

}
.photo_gallery{

	ul{

		

		li{

			width: 33.333%;

			a{

				

				&:hover{
					
				}

			}
			img{
				
			}

		}

	}

}

/*************************************
PHOTOS SECTION
*************************************/
.text_section{

	.wrap{}
	.section_header{

	}

	.text_content{

		font-size: 1.25em;

		& > :first-child{}
		& > :last-child{}

		p{

		}

	}

}


/*************************************
FOOTER
*************************************/
.site_footer{

	padding: 60px 0;

	.wrap{}

	.credits{

	}

}
.mailing_list{

	padding: 0 0 60px 0;

	.mailing_list_title, form{
		
	}

	.mailing_list_title{
		
	}

	form{

		

		input{
			
		}
		input[type="text"]{
			
		}
		input[type="submit"]{

			

			&:hover{
				
			}

		}

		::-webkit-input-placeholder {}
		:-moz-placeholder {}
		::-moz-placeholder {}
		:-ms-input-placeholder {}

	}
		
}
.social_links{

	ul{

		

		li{

			

			a{

				

				svg{

					

					path{

						

					}

				}

			}
			a:hover path{}

		}

	}

}


/*************************************
PAGE STYLES
*************************************/
#page_content{

	padding: 40px 0;
	&.top_offset{

	}

}

/*************************************
MUSIC PAGE
*************************************/

/*************************************
NEWS PAGE
*************************************/

/*************************************
SHOWS PAGE
*************************************/

/*************************************
VIDEOS PAGE
*************************************/
.video_list{

	.video_embed{
		
		&:last-child{
			
		}
	}

}

/*************************************
CONTACT STYLES
*************************************/
.contact_section{

	.wrap{}

}
form.contact_form{

	

	ul{

		

		li{

			

		}
		li:last-child{
			
		}

		li.half{  }
		li.full{  }
		li.last{  }

	}

	label{
		
	}
	input, textarea{
		
	}
	textarea{
		
	}
	input[type="text"]{

	}
	input[type="textarea"]{

	}
	input[type="submit"]{

		

		&:hover{
			
		}

	}

	::-webkit-input-placeholder {  }
	:-moz-placeholder {  }
	::-moz-placeholder {  }
	:-ms-input-placeholder {  }
	label.placeholder{ }

}