/********************************************************************
*** GLOBALS
*********************************************************************/
html, body{

	

}

a{
	
}

h1, h2, h3, h4, h5, h6{
	
}

#site_wrap{
	padding-top: 0;
	@include box-shadow( 0, 0, 0, 0 );
}

#mobile_menu{ display: none; }

#mobile_header{ display: none; }

.site_header{

	padding-top: 30px;

	#header_overlay_color{
		
	}

	.wrap{
		
	}

	

	#logo_wrap{

		display: block;
		float: left;
		max-width: 22%;

		#logo{

			font-size: 1.6em;
			text-shadow: 0 0 4px $logoShadow;
			
			-webkit-backface-visibility: hidden; //to fix the Chrome moving bug on transition hover
			@include transition(opacity 0.15s linear);

			img{
				
			}

			&:hover{
				opacity: 0.65;
			}

		}

	}

	#header_nav{

		float: right;
		display: block;
		font-family: $montserrat;
		font-size: 1em;
		text-transform: uppercase;
		color: $white;
		font-weight: 500;
		max-width: 75%;

		ul{

			margin: 0;
			padding: 0;
			text-align: right;

			li{

				display: inline-block;
				list-style-type: none;
				position: relative;

				ul.sub-menu{

					display: none;
					position: absolute;
					padding-top: 14px;
					width: 200px;
					margin-left: -100px;
					left: 50%;


					&:before{
						content: "";
						@include triangle(up, 14px, $accent);
						position: absolute;
						left: 50%;
						top:0;
						margin-left: -14px;
					}

					li{

						background-color: $accent;
						display: block;
						text-align: center;

						a{
							display: block;
							font-size: 1em;
							padding: 14px;
						}

					}
					li:first-child a{padding-top:28px;}
					li:last-child a{padding-bottom:28px;}

				}

				a{

					color: $white;
					display: inline-block;
					opacity: 0.3;
					text-decoration: none;
					padding: 10px 16px;
					font-weight: 300;
					-webkit-backface-visibility: hidden; //to fix the Chrome moving bug on transition hover
					@include transition(opacity 0.15s linear);

				}

			}
			li.current-menu-item > a,
			li a:hover{
				opacity: 1;
			}
			li:hover ul.sub-menu{
				display: block;
			}

		}

	}

	#page_title{

		padding: 80px 0 300px 0;
		clear: both;

		h1{
			font-size: 2em;
			text-shadow: 3px 3px 0 $logoShadow;
		}

		.back_to_blog{

			&:hover{
				
			}

		}

	}

}

body.home{

	.site_header{

		#logo_wrap{

			padding: 200px 0;
			float: none;
			max-width: 70%;
			margin: 0 auto;

			#logo{

				font-size: 4em;

				img{

				}

			}

		}

		#header_nav{

			position:absolute;
			z-index: 100;
			top: 0;
			left: 0;
			right: 0;
			max-width: 100%;

			ul{

				text-align: center;

				li{

					a{

					}

				}

			}

		}

	}

}

.page_section{

	

	.wrap{}

	.section_header{

		text-align: left;

		h2{
			font-size: 1.85rem;
		}
		&, a{
			
		}
		a{

			&:after{
				font-size: 1.6em;
				top:4px;
			}

		}

	}

}

/*************************************
MUSIC/ALBUMS
*************************************/
.music_section{

	.wrap{}

	header.section_header{}

	.album{

		margin-bottom: 40px;

		&:last-child{
			
		}

		.soundcloud_embed{

			float: left;
			width: 50%;

			iframe{
				
			}

		}

		.album_info_wrapper{

			float: left;
			width: 50%;
			position: relative;

			.album_info{

				padding: 40px;

				.album_type{
					font-size: 1.125rem;
				}
				.album_title{
					font-size: 2.375rem;
				}
				.album_description{

					font-size: 1.15em;

					& > :first-child{  }
					& > :last-child{  }
					p{

					}

				}
				.album_button{
					position: absolute;
					bottom: 40px;
					left: 40px;
					right: 40px;
				}

			}

		}

	}

}

/*************************************
NEWS SECTION
*************************************/
.news_section{

	.wrap{}

	.section_header{}

	.news_article_wrap{

		margin-bottom: 60px;

		&:before{
			
		}

		.news_article{

			padding: 40px;

			header.article_header{

				

				h3{

					font-size: 2.3em;

					a{
						
					}

				}

				span.article_date{
					display: block;
					float: right;
					text-transform: uppercase;
					color: $headerText;
					margin-top: 10px;
				}

			}

			.article_excerpt{

				font-size: 1.5rem;

				p{
					
				}

			}

			a.read_more_link{

				display: inline-block;

				&:hover{
					
				}

			}

			footer.article_footer{

				

				ul.share_links{

					

					li{

						

						a{

							

							&:hover{
								
							}

							i{

							}

						}

					}
					li.share_label{
						
					}
					li.twitter:hover a{
						
					}
					li.facebook:hover a{
						
					}

				}

			}

		}

	}

	ul.post_meta{

		

		li{
			
			display: inline;
			margin: 0 30px 20px 0;

			&:first-child{}
			&:last-child{}

		}

		a{
			

			&:hover{
				
			}

		}

		i{
			
		}

		li.author{

			

			.user{
				
				a{
					
				}
			}
			.post_date{
				
			}

		}

	}

}


/*************************************
SHOWS - CUSTOM
*************************************/
.shows_section{

	padding-bottom: 80px;

}
table.tour_dates{

	tr{

		td{

			font-size: 20px;

			.cell_wrap{
				position: relative;
				height: 100%;
				padding: 30px 20px;
			}

		}

		td.date{

			width: 126px;

			.cell_wrap{

				padding-left: 40px;
				padding-right: 30px;
				width: 120px;

				.month, .day{
					
				}
				.month{
					font-size: 22px;
				}
				.day{
					font-size: 28px;
				}

				&:after{
					content: "";
					border-right: solid 2px transparentize($textColor, 0.7);
					width: 1px;
					position: absolute;
					right: 0;
					top: 40px;
					bottom: 40px;
				}

			}

		}
		td.location{

			.cell_wrap{
				padding-left: 30px;
			}

			a{
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}

			.venue, .city{
				
			}
			.venue{
				text-transform: uppercase;
				font-weight:700;
			}
			.city{

			}

		}
		td.tickets{

			

		}
		td.rsvp{

			.cell_wrap{
				padding-right: 40px;
			}

		}

	}

}

/*************************************
SHOWS - BANDSINTOWN
*************************************/
.bit-widget-container{

	th, td{
		
	}
	th{
		
	}

}
td.bit-description-links{

}
td.bit-date{
	
}
td.bit-venue{
	
}
td.bit-location{

}
td.bit-tickets{

}
td.bit-rsvp{

}
#bit-events td .bit-uiButton{
	
}

/*************************************
VIDEOS
*************************************/
.videos_section{

	

	.wrap{}

	.section_header{
		
	}

	.video_embed{
		
	}

}

/*************************************
PHOTOS SECTION
*************************************/
.photos_section{

	.wrap{}

	.section_header{}

}
.photo_gallery{

	ul{

		

		li{

			width: 25%;

			a{

				

				&:hover{
					
				}

			}
			img{
				
			}

		}

	}

}

/*************************************
PHOTOS SECTION
*************************************/
.text_section{

	.wrap{}
	.section_header{

	}

	.text_content{

		font-size: 1.6em;

		& > :first-child{}
		& > :last-child{}

		p{

		}

	}

}


/*************************************
FOOTER
*************************************/
.site_footer{

	

	.wrap{}

	.credits{

	}

}
.mailing_list{

	

	.mailing_list_title, form{
		display: inline-block;
		vertical-align: middle;
	}

	.mailing_list_title{
		font-size: 1.5em;
		margin: 0 40px 0 0;
	}

	form{

		font-size: 18px;

		input{
			float: left;
			padding: 20px;
		}
		input[type="text"]{
			width: 280px;
			border-right: none;
			margin-bottom: 0;
		}
		input[type="submit"]{

			width: 150px;

			&:hover{}

		}

		::-webkit-input-placeholder {}
		:-moz-placeholder {}
		::-moz-placeholder {}
		:-ms-input-placeholder {}

	}
		
}
.social_links{

	ul{

		li{

			a{

				svg{

					path{

						

					}

				}

			}
			a:hover path{}

		}

	}

}


/*************************************
PAGE STYLES
*************************************/
#page_content{
	padding: 0;
}
#page_content > .wrap{
	position: relative;
	margin-top: -200px;
	padding: 0 0 40px 0;
	z-index: 100;
	background-color: $accent;
	min-height: 400px;
}
#page_content.content_padding > .wrap{
	padding: 40px;
}

/*************************************
MUSIC PAGE
*************************************/

/*************************************
NEWS PAGE
*************************************/

/*************************************
SHOWS PAGE
*************************************/
#page_content.shows_section > .wrap{
	background-color: $accent;
}

/*************************************
VIDEOS PAGE
*************************************/
.video_list{

	.video_embed{
		
		&:last-child{
			
		}
	}

}

/*************************************
CONTACT STYLES
*************************************/
.contact_section{

	.wrap{}

}
form.contact_form{

	

	ul{

		

		li{

			margin-bottom: 40px;

		}
		li:last-child{
			
		}

		li.half{ width: 47.5%; margin-right: 5%; }
		li.full{  }
		li.last{  }

	}

	label{
		
	}
	input, textarea{
		
	}
	textarea{
		
	}
	input[type="text"]{

	}
	input[type="textarea"]{

	}
	input[type="submit"]{

		

		&:hover{
			
		}

	}

	::-webkit-input-placeholder {  }
	:-moz-placeholder {  }
	::-moz-placeholder {  }
	:-ms-input-placeholder {  }
	label.placeholder{ }

}