@import url("myousic-icons.css");
/********************************************************************
*** GLOBALS
*********************************************************************/
html, body{

	font-family: $opensans;
	font-weight: 500;
	font-size: 1em;
	color: $textColor;
	overflow-x: hidden;

}

a{
	color: $textColor;
}

h1, h2, h3, h4, h5, h6{
	font-family: $montserrat;
	font-weight: 500;
}

::selection { background: $selectionColor; }
::-moz-selection { background: $selectionColor; }

#site_wrap{
	position: relative;
	background-color: darken($accent, 2%);
	@include box-shadow( 0, 0, 40px, 0.5 );
}

#mobile_menu{

	background-color: darken($accent, 2%);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
	padding: 0 60px 0 0;
	font-family: $montserrat;

	ul{

		padding: 20px;
		margin: 0;

		li{

			margin: 0;
			padding: 0;
			list-style: none;

			ul.sub-menu{

				padding: 0 0 0 20px;

				li{

					a{
						font-size: 0.85em;
						padding:14px;
					}

				}

			}

			a{
				display: block;
				font-weight: 300;
				text-decoration: none;
				padding: 20px;
				font-size: 1.2em;
				opacity: 0.55;
				text-transform: uppercase;
				color: $white;
				@include transition(opacity 0.05s linear);
			}

		}
		li.current-menu-item a,
		li a:hover{
			opacity: 1;
		}

	}

}

#mobile_header{

	height: 56px;
	width: 100%;
	background-color: transparentize($accent, 0.2);
	border-bottom: solid 1px darken($accent, 4%);
	position: fixed;
	top: 0;
	right: 0;
	z-index: 9999;

	#mobile_menu_toggle{

		position: absolute;
		top: 0;
		left: 0;
		cursor: pointer;
		z-index: 10;
		padding: 17px;
		@include transition(opacity 0.05s linear);

		&:hover{
			opacity: 0.6;
		}

		i{
			display: block;
			font-size: 24px;
			color: $white;
		}

	}

	#mobile_site_title{
		display: block;
		position: absolute;
		padding: 16px 20px;
		top: 0;
		left: 0;
		text-align: center;
		color: $white;
		width: 100%;
		font-size: 16px;
		height: 56px;
		overflow: hidden;
		z-index: 0;
	}

}

.site_header{

	position: relative;
	background: url('../img/header_background.jpg') no-repeat center center scroll; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	#header_overlay_color{
		background-color: $headerOverlay;
		opacity: $headerOverlayOpacity;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		z-index: 0;
	}

	.wrap{
		position: relative;
		z-index: 10;
		height: 100%;
	}

	#logo_wrap{

		display: none;

		#logo{

			display: block;
			font-family: $montserrat;
			color: $logoColor;
			text-decoration: none;
			text-shadow: 5px 5px 0 $logoShadow;
			font-size: 2em;
			text-align: left;

			img{
				width: 100%;
				height: auto;
				display: block;
			}

		}

	}

	#header_nav{ display: none; }

	#page_title{

		display: block;
		text-align: center;
		padding: 116px 20px 60px 20px;
		font-size: 2em;
		margin: 0 auto;
		text-transform: uppercase;
		font-family: $montserrat;
		color: $logoColor;
		text-decoration: none;
		text-shadow: 1px 1px 0 $logoShadow;

	}

}

body.home{

	.site_header{

		#logo_wrap{

			display: block;
			padding: 116px 20px 60px 20px;

			#logo{

				text-align: center;

				img{

				}

			}

		}

	}

}

.page_section{

	background-color: $accent;

	.wrap{}

	.section_header{

		text-align: center;
		text-transform: uppercase;
		margin: 80px 0 40px 0;

		h2{
			font-weight: 500;
			font-size: 1.25rem;
			margin: 0;
		}
		&, a{
			color: $headerText;
		}
		a{

			text-decoration: none;
			position: relative;
			padding-right: 24px;
			@include transition(color 0.05s linear);

			&:after{
				content: "»";
				font-weight: 300;
				font-family: $opensans;
				font-size: 1.4em;
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				width: 16px;
				height: 25px;
				line-height: 16px;
			}

			&:hover{
				color: $headerTextHover;
			}

		}

	}

}

/*************************************
MUSIC/ALBUMS
*************************************/
.music_section{


	.wrap{}

	header.section_header{}

	.album{

		background-color: $albumBackground;
		margin-bottom: 30px;

		&:last-child{
			margin-bottom: 0;
		}

		.soundcloud_embed{

			height: 200px; //just to set the initial height

			iframe, .soundcloud_plaeholder{
				display: block;
				width: 100% !important;
				height: 100% !important;
			}

		}

		.album_info_wrapper{

			color: $textColor;

			.album_info{
				
				padding: 20px;

				.album_type{
					font-family: $montserrat;
					color: $headerText;
					text-transform: uppercase;
					font-size: 0.85rem;
					color: $albumType;
				}
				.album_title{
					font-size: 1.625rem;
					font-weight: 500;
					margin: 10px 0;
					color: $albumTitle;
				}
				.album_description{

					color: $albumText;

					& > :first-child{ margin-top: 0; }
					& > :last-child{ margin-bottom: 0; }
					p{

					}

				}
				.album_button{
					font-size: 1.25rem;
					display: block;
					margin: 20px 0 0 0;
					font-family: $montserrat;
					text-transform: uppercase;
					text-align: center;
					background-color: $albumButtonBackground;
					color: $albumButtonText;
					text-decoration: none;
					padding: 20px;
					@include transition(background-color 0.05s linear);

					&:hover{
						background-color: lighten($albumButtonBackground, 10%);
					}

				}

			}

		}

	}

}

/*************************************
NEWS SECTION
*************************************/
.news_section{

	.wrap{}

	.section_header{}

	.news_article_wrap{

		position: relative;
		border-top: solid 2px $headerText;
		margin-bottom: 30px;

		&:last-child{
			margin-bottom: 0;
		}

		&:before{
			content: "";
			position: absolute;
			@include css-gradient-top-down($headerText, $accent);
			z-index: 0;
			width: 100%;
			height: 100%;
			max-height: 300px;
		}

		.news_article{

			position: relative;
			z-index: 10;
			margin: 0 2px;
			background-color: $accent;
			padding: 20px;

			header.article_header{

				margin-bottom: 20px;

				h3{

					margin: 0;
					font-size: 1.6em;
					float: left;

					a{
						text-decoration: none;
						&:hover{
							text-decoration: underline;
						}
					}

				}

				span.article_date{
					display: none;
				}

			}

			.article_excerpt{

				font-size: 1.15rem;
				font-weight:300;

				p{
					margin: 0;
				}

			}

			.article_content{

				font-size: 1.5em;
				font-weight: 300;

				p{

				}
				ul, ol{
					li{

					}
				}
				ul{}
				ol{}

				pre{

				}
				code{

				}

			}

			footer.article_footer{

				padding: 80px 0;

				ul.share_links{

					margin: 0;
					padding: 0;
					text-align: center;

					li{

						list-style-type: none;
						display: inline-block;
						text-transform: uppercase;

						a{

							text-decoration: none;
							display: block;
							padding: 0 10px;
							font-size: 24px;

							&:hover{
								color: $white;
							}

							i{

							}

						}

					}
					li.share_label{
						font-size: 20px;
						margin-right:18px;
						position: relative;
						top: -2px;
					}
					li.twitter:hover a{
						color: #00aced;
					}
					li.facebook:hover a{
						color: #3b5998;
					}

				}

			}

		}

	}

}
/* This is the default Tooltipster theme (feel free to modify or duplicate and create multiple themes!): */
.tooltipster-default {

	border: none;
	background: none;
	color: $white;

	.tooltipster-content {

		font-family: $opensans;
		font-size: 13px;
		padding: 0;
		overflow: hidden;

		.fill{
			padding: 8px 12px;
			border-radius: 3px; 
		}
		.fill.tweet{
			background: #00aced;
		}

		.fill.like{
			background: #3b5998;
		}

	}

}

/* This next selector defines the color of the border on the outside of the arrow. This will automatically match the color and size of the border set on the main tooltip styles. Set display: none; if you would like a border around the tooltip but no border around the arrow */
.tooltipster-default .tooltipster-arrow .tooltipster-arrow-border {
	/* border-color: ... !important; */
}

/*************************************
SHOWS - BANDSINTOWN
*************************************/
.bit-widget-container{

	th, td{
		padding: 20px;
		font-size: 1.2rem;
	}
	th{
		font-family: $montserrat;
		text-transform: uppercase;
		font-size: 1rem;
	}

}
td.bit-description-links{

}
td.bit-date{
	padding: 20px;
	font-family: $montserrat;
	font-weight: 900;
}
td.bit-venue{
	font-family: $opensans;
}
td.bit-location{

}
td.bit-tickets{

}
td.bit-rsvp{

}
#bit-events td .bit-uiButton{
	background-color: $accent;
	background-image: none;
}


/*************************************
SHOWS - CUSTOM
*************************************/
.shows_section{

	padding-bottom: 40px;

}
table.tour_dates{

	width:100%;
	font-family: $montserrat;
	font-weight: 300;
	border-collapse: separate;

	tr{

		&:first-child td{
			border-top: solid 2px transparentize($textColor, 0.7);
		}
		td{
			border-bottom: solid 2px transparentize($textColor, 0.7);
		}

		td{

			
			font-size: 12px;

			.cell_wrap{
				padding: 20px 10px;
			}

			a{

				text-decoration: none;

				&:hover{
					text-decoration: underline;
				}

			}

		}

		td.date{

			text-align: center;
			position: relative;

			.month, .day{
				display: block;
			}
			.month{
				font-size: 12px;
				text-transform: uppercase;
			}
			.day{
				font-size: 16px;
			}

		}
		td.location{

			a{
				display: block;
			}

			.venue, .city{
				display: block;
			}
			.venue{

			}
			.city{

			}

		}
		td.tickets{

			text-align: right;

		}
		td.rsvp{

			display: none;

		}
		td.info{

			text-align: right;

			a:hover{
				text-decoration: none;
				color: lighten($textColor, 10%);
			}

		}

	}

}


/*************************************
VIDEOS
*************************************/
.videos_section{

	background-color: $videoSectionBackground;
	padding: 40px 0;

	.wrap{}

	.section_header{
		margin: 0 0 40px 0;
	}

	.video_embed{
		padding: 0;
	}

}

/*************************************
PHOTOS SECTION
*************************************/
.photos_section{

	.wrap{}

	.section_header{}

}
.photo_gallery{

	ul{

		margin: 0;
		padding: 0;

		li{

			display: block;
			list-style-type: none;
			float: left;
			width: 50%;

			a{

				display: block;
				-webkit-backface-visibility: hidden; //to fix the Chrome moving bug on transition hover
				@include transition(opacity 0.05s linear);

				&:hover{
					opacity: 0.6;
				}

			}
			img{
				display: block;
				width: 100%;
				height: auto;
			}

		}

	}

}

/*************************************
TEXT SECTION
*************************************/
.text_section{

	.wrap{}
	.section_header{

	}

	.text_content{

		padding: 0 0 80px 0;

		& > :first-child{ margin-top: 0; }
		& > :last-child{ margin-bottom: 0; }

		p{

		}

	}

}


/*************************************
FOOTER
*************************************/
.site_footer{

	color: $footerText;
	padding: 40px 0;
	background-color: $footerBackground;

	.wrap{}

	.credits{

		font-family: $montserrat;
		text-align: center;
		padding-top: 40px;
		color: $footerText;

		p{
			margin: 10px 0;
		}
		a{
			color: $footerText;
			text-decoration: none;
			&:hover{
				color: $textColor;
			}
		}

	}

}
.mailing_list{

	text-align: center;
	padding: 0 0 40px 0;
	font-family: $montserrat;

	.mailing_list_title, form{
		display: block;
		color: $footerText;
	}

	.mailing_list_title{
		text-transform: uppercase;
		font-size: 1.4em;
		margin: 0 0 20px 0;
	}

	form{

		font-size: 18px;
		overflow: hidden;

		input{
			border: solid 2px $footerText;
			display: block;
			padding: 15px;
			outline: none;
		}
		input[type="text"]{
			width: 100%;
			background: none;
			margin-bottom: 10px;
			color: $footerText;
		}
		input[type="submit"]{

			text-transform: uppercase;
			background-color: $footerText;
			color: $footerBackground;
			width: 100%;

			&:hover{
				background-color: lighten($footerText, 4%);
			}

		}

		::-webkit-input-placeholder { color: $footerText; }
		:-moz-placeholder { color: $footerText; }
		::-moz-placeholder { color: $footerText; }
		:-ms-input-placeholder { color: $footerText; }
		label.placeholder{ color: $footerText; }

	}
		
}
.social_links{

	ul{

		margin: 0;
		padding: 0;
		text-align: center;

		li{

			display: inline-block;
			list-style-type: none;
			margin-right: -4px;

			a{

				display: block;
				padding: 10px 14px;
				background-color: $socialIconsBackground;
				font-size: 28px;
				text-decoration: none;
				color: $footerText;

				i{

				}

			}
			a:hover, a:hover{ color: $textColor; }

		}

		//turn these on for social-brand-specific colors on hover

		//li.twitter a:hover{ color:#00aced; }
		//li.facebook a:hover{ color:#3b5998; }
		//li.googleplus a:hover{ color:#dd4b39; }
		//li.instagram a:hover{ color:#517fa4; }
		//li.tumblr a:hover{ color:#32506d; }
		//li.soundcloud a:hover{ color:#f76f00; }
		//li.youtube a:hover{ color:#b31217; }
		//li.bandcamp a:hover{ color:#5f99a9; }

	}

}


/*************************************
PAGE STYLES
*************************************/
#page_content{

	padding: 30px 0;

	&.top_offset{

	}

}

/*************************************
MUSIC PAGE
*************************************/

/*************************************
NEWS PAGE
*************************************/

/*************************************
SHOWS PAGE
*************************************/

/*************************************
VIDEOS PAGE
*************************************/
#page_content.videos_section > .wrap{
	background-color: $videoSectionBackground;
}
.video_list{

	.video_embed{
		margin-bottom: 40px;
		&:last-child{
			margin-bottom: 0;
		}
	}

}

/*************************************
CONTACT STYLES
*************************************/
.contact_section{

	.wrap{}

}
form.contact_form{

	color: $footerText;

	ul{

		margin: 0;
		padding: 0;
		overflow: hidden;

		li{

			list-style-type: none;
			float: left;
			display: block;
			margin-bottom: 30px;

		}
		li:last-child{
			margin-bottom: 0;
		}

		li.half{ width: 100%; margin-right: 0%; }
		li.full{ width: 100%; }
		li.last{ margin-right: 0; }

	}

	label{
		display: block;
		font-family: $montserrat;
		text-transform: uppercase;
		font-size: 1.3em;
		margin-bottom: 10px;
	}
	input, textarea{
		display: block;
		border: solid 2px $footerText;
		background: none;
		font-size: 1.5em;
		padding: 20px;
		outline: none;
		color: $textColor;
		width: 100%;
	}
	textarea{
		min-height: 300px;
		resize: none;
	}
	input[type="text"]{

	}
	input[type="textarea"]{

	}
	input[type="submit"]{

		font-family: $montserrat;
		background-color: $footerText;
		color: $accent;
		padding: 20px 30px;
		border: none;
		@include transition(background-color 0.05s linear);

		&:hover{
			background-color: lighten($footerText, 10%);
		}

	}

	::-webkit-input-placeholder { color: $footerText; }
	:-moz-placeholder { color: $footerText; }
	::-moz-placeholder { color: $footerText; }
	:-ms-input-placeholder { color: $footerText; }
	label.placeholder{ color: $footerText; }

}

p.alert{

	color: $accent;
	text-align: center;
	padding: 6px;
	font-size: 1.1em;
	@include rounded(4px);

	&.success{ background-color: #2BB673; }
	&.warning{ background-color: #FBB040; }
	&.error{ background-color: #EF4136; }

}