@import url("myousic-icons.css");
/********************************************************************
*** GLOBALS
*********************************************************************/
html, body{

	font-family: $bodyFont;
	font-weight: 500;
	font-size: 1em;
	color: $mainTextColor;
	overflow-x: hidden;

}

a{
	color: $mainTextColor;
}

h1, h2, h3, h4, h5, h6{
	font-family: $headingFont;
	font-weight: 500;
}

#site_wrap{
	position: relative;
	background-color: $headerOverlay;
	@include box-shadow( 0, 0, 40px, 0.5 );
}

#mobile_menu{

	background-color: $headerOverlay;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
	padding: 0 60px 0 0;
	font-family: $headingFont;

	ul{

		padding: 20px;
		margin: 0;

		li{

			margin: 0;
			padding: 0;
			list-style: none;

			ul.sub-menu{

				padding: 0 0 0 20px;

				li{

					a{
						font-size: 0.85em;
						padding:14px;
					}

				}

			}

			a{
				display: block;
				font-weight: 300;
				text-decoration: none;
				padding: 20px;
				font-size: 1.2em;
				opacity: 0.55;
				text-transform: uppercase;
				color: $menuLink;
				@include transition(opacity 0.05s linear);
			}

		}
		li.current-menu-item a,
		li a:hover{
			opacity: 1;
		}

	}

}

#mobile_header{

	height: 56px;
	width: 100%;
	background-color: $headerOverlay;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 9999;

	#mobile_menu_toggle{

		position: absolute;
		top: 0;
		left: 0;
		cursor: pointer;
		z-index: 10;
		padding: 17px;
		@include transition(opacity 0.05s linear);

		&:hover{
			opacity: 0.6;
		}

		i{
			display: block;
			font-size: 24px;
			color: $menuLink;
		}

	}

	#mobile_site_title{
		display: block;
		position: absolute;
		padding: 16px 20px;
		top: 0;
		left: 0;
		text-align: center;
		color: $menuLink;
		width: 100%;
		font-size: 16px;
		height: 56px;
		overflow: hidden;
		z-index: 0;
	}

}

.site_header{

	position: relative;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	#header_overlay_color{
		background-color: $headerOverlay;
		opacity: $headerOverlayOpacity;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		z-index: 0;
	}

	.wrap{
		position: relative;
		z-index: 10;
		height: 100%;
	}

	#logo_wrap{

		display: none;

		#logo{

			display: block;
			font-family: $headingFont;
			color: $logoColor;
			text-decoration: none;
			font-size: 2em;
			text-align: left;

			img{
				width: 100%;
				height: auto;
				display: block;
			}

		}

	}

	#header_nav{ display: none; }

	#page_title{

		text-align: center;
		padding: 116px 20px 60px 20px;
		font-family: $headingFont;
		margin: 0 auto;

		h1{

			display: block;
			font-size: 2em;
			text-transform: uppercase;
			color: $logoColor;
			text-decoration: none;

		}

		.back_to_blog{

			display: block;
			font-size: 16px;
			margin-top: 10px;
			text-decoration: none;

			&:hover{
				text-decoration: underline;
			}

		}

		.sub_title{

		}

	}

}

body.home{

	.site_header{

		#logo_wrap{

			display: block;
			padding: 116px 20px 60px 20px;

			#logo{

				text-align: center;

				img{

				}

			}

		}

	}

}

.page_section{

	background-color: $websiteBackgroundColor;

	.wrap{}

	.section_header{

		text-align: center;
		text-transform: uppercase;
		margin: 80px 0 40px 0;

		h2{
			font-weight: 500;
			font-size: 1.25rem;
			margin: 0;
		}
		&, a{
			color: $headingColor;
		}
		a{

			text-decoration: none;
			position: relative;
			padding-right: 24px;
			@include transition(opacity 0.05s linear);

			&:after{
				content: "»";
				font-weight: 300;
				font-family: $bodyFont;
				font-size: 1.4em;
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				width: 16px;
				height: 25px;
				line-height: 16px;
			}

			&:hover{
				opacity: 0.6;
			}

		}

	}

}

/*************************************
MUSIC/ALBUMS
*************************************/
.music_section{


	.wrap{}

	header.section_header{}

	.album{

		background-color: $albumBackground;
		margin-bottom: 30px;

		&:last-child{
			margin-bottom: 0;
		}

		.soundcloud_embed{

			height: 200px; //just to set the initial height

			iframe, .soundcloud_plaeholder{
				display: block;
				width: 100% !important;
				height: 100% !important;
			}

		}

		.album_info_wrapper{

			.album_info{

				padding: 20px;

				.album_type{
					font-family: $headingFont;
					text-transform: uppercase;
					font-size: 0.85rem;
					opacity: 0.7;
				}
				.album_title{
					font-size: 1.625rem;
					font-weight: 500;
					margin: 10px 0;
					color: $albumTitle;
				}
				.album_description{

					color: $albumText;

					& > :first-child{ margin-top: 0; }
					& > :last-child{ margin-bottom: 0; }
					p{

					}

				}
				.album_button{
					font-size: 1.25rem;
					display: block;
					margin: 20px 0 0 0;
					font-family: $headingFont;
					text-transform: uppercase;
					text-align: center;
					background-color: $albumButton;
					color: $albumBackground;
					text-decoration: none;
					padding: 20px;
					@include transition(opacity 0.05s linear);

					&:hover{
						opacity: 0.7;
					}

				}

			}

		}

	}

}

/*************************************
NEWS SECTION
*************************************/
.news_section{

	.wrap{}

	.section_header{}

	.news_article_wrap{

		position: relative;
		border-top: solid 2px $headingColor;
		margin-bottom: 30px;

		&:last-child{
			margin-bottom: 0;
		}

		&:before{
			content: "";
			position: absolute;
			@include css-gradient-top-down($headingColor, $websiteBackgroundColor);
			z-index: 0;
			width: 100%;
			height: 100%;
			max-height: 300px;
		}

		.news_article{

			position: relative;
			z-index: 10;
			margin: 0 2px;
			background-color: $websiteBackgroundColor;
			padding: 20px;

			header.article_header{

				margin-bottom: 20px;

				h3{

					margin: 0;
					font-size: 2.4em;
					float: left;

					a{
						text-decoration: none;
						&:hover{
							text-decoration: underline;
						}
					}

				}

				span.article_date{
					display: none;
				}

			}

			.article_excerpt{



				p{
					margin: 0;
				}

			}

			.article_content{

				font-size: 1.5em;
				font-weight: 300;

				p{

				}
				ul, ol{
					li{

					}
				}
				ul{}
				ol{}

				pre{

				}
				code{

				}

			}

			a.read_more_link{

				display: block;
				padding: 10px 20px;
				text-decoration: none;
				border: solid 1px $mainTextColor;
				text-align: center;
				margin-top: 20px;
				font-size: 18px;
				@include rounded(6px);

				&:hover{
					opacity: 0.7;
				}

			}

			footer.article_footer{



				ul.share_links{

					margin: 40px 0 20px 0;
					padding: 0;
					text-align: center;

					li{

						list-style-type: none;
						display: inline-block;
						text-transform: uppercase;

						a{

							text-decoration: none;
							display: block;
							padding: 0 10px;
							font-size: 24px;

							&:hover{
								color: $mainTextColor;
							}

							i{

							}

						}

					}
					li.share_label{
						font-size: 20px;
						margin-right:18px;
						position: relative;
						top: -2px;
					}
					li.twitter:hover a{
						color: #00aced; //twitter blue
					}
					li.facebook:hover a{
						color: #3b5998; //facebook blue
					}

				}

			}

		}

	}


	.news_article_wrap.sticky{

		border-top: solid 2px #fbb03b; //sticky yellow color

		&:before{
			@include css-gradient-top-down(#fbb03b, $websiteBackgroundColor);
		}

		.sticky_post_header{
			position:relative;
			display: block;
			color: $websiteBackgroundColor;
			padding: 10px;
			text-align: center;
		}

		.news_article{

			padding-top: 80px;

			&:before{
				content: 'Promoted Post';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				height: 40px;
				line-height:40px;
				text-align: center;
				color: $mainTextColor;
				background-color: #fbb03b;
			}

		}
	}

	ul.post_meta{

		font-weight: 300;
		padding: 10px 0;
		margin: 0 0 20px 0;
		border-top: dashed 1px $mainTextColor;
		border-bottom: dashed 1px $mainTextColor;
		display: block;
		clear: both;

		li{

			list-style-type: none;
			margin: 10px 0;
			font-size: 14px;

			&:first-child{margin-top:0;}
			&:last-child{margin-bottom:0;}

		}

		a{
			text-decoration: none;

			&:hover{
				text-decoration: underline;
			}

		}

		i{
			font-size: 18px;
			position:relative;
			top: 2px;
			margin-right: 3px;
		}

		li.author{

			overflow: hidden;

			a{
				margin-left: 6px;
			}

		}

	}

}
/* This is the default Tooltipster theme (feel free to modify or duplicate and create multiple themes!): */
.tooltipster-default {

	border: none;
	background: none;
	color: $websiteBackgroundColor;

	.tooltipster-content {

		font-family: $bodyFont;
		font-size: 13px;
		padding: 0;
		overflow: hidden;

		.fill{
			padding: 8px 12px;
			border-radius: 3px;
		}
		.fill.tweet{
			background: #00aced;
		}

		.fill.like{
			background: #3b5998;
		}

	}

}

/* This next selector defines the color of the border on the outside of the arrow. This will automatically match the color and size of the border set on the main tooltip styles. Set display: none; if you would like a border around the tooltip but no border around the arrow */
.tooltipster-default .tooltipster-arrow .tooltipster-arrow-border {
	/* border-color: ... !important; */
}

nav#pagination{

	overflow: hidden;

	.nav_previous,
	.nav_next{

		float: left;
		width: 50%;
		text-align: center;

		a{

			display: block;
			text-decoration: none;
			background-color: $mainTextColor;
			color: $websiteBackgroundColor;
			padding: 10px;

			&:hover{
				opacity: 0.7;
			}

		}

	}
	.nav_previous{

	}
	.nav_next{
		float: right;
	}

}

/*************************************
COMMENTS
*************************************/
#comments{

	.comments-title{

	}

	.comment-list{

		margin: 0;
		padding: 0;

		> .comment{
			background: $websiteBackgroundColor;
			margin-bottom: 30px;
			@include rounded(6px);
		}
		.comment{

			list-style: none;

			.comment-body{

				.comment-meta{

					overflow: hidden;
					background: $mainTextColor;
					color: $websiteBackgroundColor;
					padding: 20px;
					@include border-radius(6px, 6px, 0, 0);

					.comment-author{

						position: relative;
						float: left;

						img{
							display: inline-block;
							vertical-align: middle;
							width: 60px;
							height: 60px;
							margin-right: 14px;
							@include rounded(30px);
						}
						.fn,
						.says{

							font-family: $headingFont;
							font-style: normal;

							a{
								text-decoration: none;
							}

						}
						.fn{
							display: inline-block;
						}
						.says{
							display: inline-block;
						}

					}
					.comment-metadata{

						float: right;
						margin-top: 20px;
						font-size: 14px;


						a{

							text-decoration: none;

							&:hover{
								text-decoration: underline;
							}

							time{

							}

						}

					}

				} // .comment-meta

				.comment-content{

					padding: 20px;

					> :first-child{ margin-top: 0; }
					> :last-child{ margin-bottom: 0; }

				} // .comment-content

				.reply{

					padding: 0;

					a.comment-reply-link{
						font-size: 14px;
						display: inline-block;
						text-decoration: none;
						padding: 4px 8px;
						margin: 0 0 20px 20px;
						background-color: $mainTextColor;
						color: $websiteBackgroundColor;
						@include rounded(3px);

						&:hover{
							opacity: 0.7;
						}

					}

				} // .reply

			} // .comment-body

			.children{

				padding: 0 0 20px 0px;

				li{

					border: solid 2px $mainTextColor;
					@include rounded(6px);
					margin: 20px 20px 0 20px;

				}

			}

		} // .comment

	} // .comment-list

	#respond{

		border-top: dashed 2px $mainTextColor;
		#reply-title{

			small{

			}

		}

		form{

			.logged-in-as{

				a{

					text-decoration: none;

					&:hover{
						text-decoration: underline;
					}

				}

			}

			.comment-form-comment{

				background-color: $websiteBackgroundColor;
				padding: 20px;
				margin: 0;
				@include border-radius( 6px, 6px, 0, 0 );

				label{

					margin-bottom: 20px;
					display: block;

				}
				textarea{

					display: block;
					background: $websiteBackgroundColor;
					border: none;
					width: 100%;
					outline: none;
					padding: 20px;
					color: $mainTextColor;

					&:focus{
						
					}

				}

			}

			.form-allowed-tags{
				margin: 0;
				padding: 0 20px 20px 20px;
				color: $mainTextColor;
				font-size: 14px;
				@include border-radius( 0, 0, 6px, 6px );
			}

			.form-submit{

				#submit{
					display: inline-block;
					background-color: $mainTextColor;
					border: none;
					color: $websiteBackgroundColor;
					padding: 20px 30px;
					font-size: 1.4em;
					@include rounded(6px);
					&:hover{
						opacity: 0.7;
					}
				}

			}

		}

	} // #respond

} // #comments


/*************************************
SHOWS - BANDSINTOWN
*************************************/
.bit-widget-container{

	th, td{
		padding: 20px;
		font-size: 1.2rem;
	}
	th{
		font-family: $headingFont;
		text-transform: uppercase;
		font-size: 1rem;
	}

}
td.bit-description-links{

}
td.bit-date{
	padding: 20px;
	font-family: $headingFont;
	font-weight: 900;
}
td.bit-venue{
	font-family: $bodyFont;
}
td.bit-location{

}
td.bit-tickets{

}
td.bit-rsvp{

}
#bit-events td .bit-uiButton{
	background-color: $websiteBackgroundColor;
	background-image: none;
}


/*************************************
SHOWS - CUSTOM
*************************************/
.shows_section{

	padding-bottom: 40px;

}
table.tour_dates{

	width:100%;
	font-family: $headingFont;
	font-weight: 300;
	border-collapse: separate;

	tr{

		&:first-child td{
			border-top: solid 2px $showsBorderColor;
		}
		td{
			border-bottom: solid 2px $showsBorderColor;
		}

		td{


			font-size: 12px;

			.cell_wrap{
				padding: 20px 10px;
			}

			a{

				text-decoration: underline;
				color: $mainTextColor;

				&:hover{
					text-decoration: underline;
				}

			}

		}

		td.date{

			text-align: center;
			position: relative;

			.month, .day{
				display: block;
			}
			.month{
				font-size: 12px;
				text-transform: uppercase;
			}
			.day{
				font-size: 16px;
			}

		}
		td.location{

			a{
				display: block;
			}

			.venue, .city{
				display: block;
			}
			.venue{

			}
			.city{

			}

		}
		td.tickets{

			text-align: right;

		}
		td.rsvp{

			display: none;

		}
		td.info{

			text-align: right;

			a:hover{
				text-decoration: none;
				opacity: 0.7;
			}

		}

	}

}


/*************************************
VIDEOS
*************************************/
.videos_section{

	background-color: $videoSectionBackground;
	padding: 40px 0;

	.wrap{}

	.section_header{
		margin: 0 0 40px 0;
		a{
			color: $videoSectionHeading;
		}
	}

	.video_embed{
		padding: 0;
	}

}

/*************************************
PHOTOS SECTION
*************************************/
.photos_section{

	.wrap{}

	.section_header{}

}
.photo_gallery{

	ul{

		margin: 0;
		padding: 0;

		li{

			display: block;
			list-style-type: none;
			float: left;
			width: 50%;

			a{

				display: block;
				-webkit-backface-visibility: hidden; //to fix the Chrome moving bug on transition hover
				@include transition(opacity 0.05s linear);

				&:hover{
					opacity: 0.6;
				}

			}
			img{
				display: block;
				width: 100%;
				height: auto;
			}

		}

	}

}

/*************************************
TEXT SECTION
*************************************/
.text_section{

	.wrap{}
	.section_header{

	}

	.text_content{

		padding: 0 0 80px 0;

		& > :first-child{ margin-top: 0; }
		& > :last-child{ margin-bottom: 0; }

		p{

		}

	}

}


/*************************************
FOOTER
*************************************/
.site_footer{

	color: $footerText;
	padding: 40px 0;
	background-color: $footerBackground;

	.wrap{}

	.credits{

		font-family: $headingFont;
		text-align: center;
		padding-top: 40px;

		p{
			margin: 10px 0;
		}
		a{
			text-decoration: none;
			&:hover{

			}
		}

	}

}
.mailing_list{

	text-align: center;
	padding: 0 0 40px 0;
	font-family: $headingFont;

	.mailing_list_title, form{
		display: block;
		color: $footerText;
	}

	.mailing_list_title{
		text-transform: uppercase;
		font-size: 1.4em;
		margin: 0 0 20px 0;
	}

	form{

		font-size: 18px;
		overflow: hidden;

		input{
			border: solid 2px $footerText;
			display: block;
			padding: 15px;
			outline: none;
		}
		input[type="text"]{
			width: 100%;
			background: none;
			margin-bottom: 10px;
			color: $footerText;
		}
		input[type="submit"]{

			text-transform: uppercase;
			background-color: $footerText;
			color: $footerBackground;
			width: 100%;

			&:hover{
				opacity: 0.7;
			}

		}

	}

}
.social_links{

	ul{

		margin: 0;
		padding: 0;
		text-align: center;

		li{

			display: inline-block;
			list-style-type: none;
			margin-right: -4px;

			a{

				display: block;
				padding: 10px 14px;
				font-size: 28px;
				text-decoration: none;

				i{

				}

			}

		}

		//turn these on for social-brand-specific colors on hover

		//li.twitter a:hover{ color:#00aced; }
		//li.facebook a:hover{ color:#3b5998; }
		//li.googleplus a:hover{ color:#dd4b39; }
		//li.instagram a:hover{ color:#517fa4; }
		//li.tumblr a:hover{ color:#32506d; }
		//li.soundcloud a:hover{ color:#f76f00; }
		//li.youtube a:hover{ color:#b31217; }
		//li.bandcamp a:hover{ color:#5f99a9; }

	}

}


/*************************************
PAGE STYLES
*************************************/
#page_content{

	padding: 30px 0;

	&.top_offset{

	}

}

/*************************************
MUSIC PAGE
*************************************/

/*************************************
NEWS PAGE
*************************************/

/*************************************
SHOWS PAGE
*************************************/

/*************************************
VIDEOS PAGE
*************************************/
#page_content.videos_section > .wrap{
	background-color: $videoSectionBackground;
}
.video_list{

	.video_embed{
		margin-bottom: 40px;
		&:last-child{
			margin-bottom: 0;
		}
	}

}

/*************************************
CONTACT STYLES
*************************************/
.contact_section{

	.wrap{}

}
form.contact_form{

	//color: $footerText;

	ul{

		margin: 0;
		padding: 0;
		overflow: hidden;

		li{

			list-style-type: none;
			float: left;
			display: block;
			margin-bottom: 30px;

		}
		li:last-child{
			margin-bottom: 0;
		}

		li.half{ width: 100%; margin-right: 0%; }
		li.full{ width: 100%; }
		li.last{ margin-right: 0; }

	}

	label{
		display: block;
		font-family: $headingFont;
		text-transform: uppercase;
		font-size: 1.3em;
		margin-bottom: 10px;
	}
	input, textarea{
		display: block;
		border: solid 2px $footerText;
		background: none;
		font-size: 1.5em;
		padding: 20px;
		outline: none;
		width: 100%;
	}
	textarea{
		min-height: 300px;
		resize: none;
	}
	input[type="text"]{

	}
	input[type="textarea"]{

	}
	input[type="submit"]{

		font-family: $headingFont;
		background-color: $footerText;
		color: $mainTextColor;
		padding: 20px 30px;
		border: none;
		@include transition(opacity 0.05s linear);

		&:hover{
			opacity: 0.7;
		}

	}

}

p.alert{

	color: $mainTextColor;
	text-align: center;
	padding: 6px;
	font-size: 1.1em;
	@include rounded(4px);

	&.success{ background-color: #2BB673; }
	&.warning{ background-color: #FBB040; }
	&.error{ background-color: #EF4136; }

}

//form error and success messages
.error,
.success{
	padding: 20px;
	margin-bottom: 40px;
}

.error{
	border: 2px solid #EF4136;
	color: #EF4136;
}

.success{
	border: 2px solid #2BB673;
	color: #2BB673;
}